# Основные зависимости
websockets==11.0.3
pyautogui==0.9.54
Pillow==10.0.0

# Для получения системной информации
psutil==5.9.5

# Для экспорта данных
openpyxl==3.1.2

# Для работы с изображениями и управлением
mss==9.0.1
keyboard==0.13.5
mouse==0.7.1